rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {

    match /{allPaths=**} { // Principle of least privilege
      allow read, write: if false;
    }

    // Only allow access to /faculty_{id}/repo_{id}/dropbox_{id}/{filename}
    match /{faculty}/{repo}/{dropbox}/{filename} {
      function isDropboxPath() {
      	return faculty.matches('^faculty_.+')
      		&& repo.matches('^repo_.+') && dropbox.matches('^dropbox_.+');
      }
      allow read, create: if isLoggedIn() && isDropboxPath();
    }
  }
}

function isLoggedIn() {
  return request.auth != null;
}
