rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {

    match /{allPaths=**} { // Block access to everything by default
      allow read, write: if false;
    }

    // Only allow access to /faculty_{id}/repo_{id}/dropbox_{id}/{filename}
    match /{faculty}/{repo}/{dropbox}/{filename} {
    	allow read, write: if isLoggedIn() && faculty.matches('^faculty_.+')
      	&& repo.matches('^repo_.+') && dropbox.matches('^dropbox_.+');
    }
  }
}

function isLoggedIn() {
  return request.auth != null;
}
